//color
$color-main-1: #181818;
$color-main-2: #b61984;
$color-main-3: #FFFFFF;
$color-main-4: #DCD1F0;
//font size
$fs-1: 15px;
$fs-2: .9rem;
$fs-3: 1.1rem;
$fs-4: 3.8rem;
$fs-5: .75rem;
$fs-6: 1.55rem;
$fs-7: 2.5rem;
$fs-8: .8em;
$fs-9: .9em;
$fs-10: 1rem;
$fs-11: 1.25rem;
$fs-12: 13px;
//font weight
$fw-1: 300;
$fw-2: 400;
$fw-3: 600;
$fw-4: 700;
//letter spacing
$ls-1: 0.015rem;
$ls-2: 0.03rem;
//Padding
$pd-0: 100px;
$pd-1: 50px;
$pd-2: 1.1rem;
$pd-3: 1.6rem;
$pd-4: 44px;
$pd-5: 1em;
$pd-6: .8em;
$pd-7: .2em;
$pd-8: 15px;
$pd-9: 5px;
//Margin
$mg-1: 1em;
$mg-2: 25px;
$mg-3: 70px;
$mg-4: 60px;
$mg-5: .5em;
// width
$wid-1: 100%;
$wid-2: 85%;
$wid-3: 70%;
$wid-4: 88%;
$wid-5: 79%;
//break points
$breakpoints: ("extra-large": 1200px, "large": 992px, "medium": 768px, "small": 576px, "mid-large": 1024px, "extra-large-down": 1199.98px, "large-down": 991.98px, "medium-down": 767.98px, "small-down": 575.98px, "smallest": 320px, );